# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: sdummett <sdummett@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/12/11 17:34:20 by sdummett          #+#    #+#              #
     Updated: 2021/12/12 15:47:56 by ctchen           ###   ########.fr         
#                                                                              #
# **************************************************************************** #

hotrace
*.o
vogsphere
xato-net-10-million-passwords-1000000.txt
SecLists
.vscode
